.donate_banner {
    width: 100%;
    max-width: 1250px;
    margin: 20px auto;
}

.donate_banner img {
    flex: 1;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_donate_content {
    width: 100%;
    display: flex;    
    flex-direction: row;
    justify-content: center;    
    max-width: 1250px;
    margin: 20px auto;
}

.container_donate_content .content_uno {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px;
}
.container_donate_content .content_uno img {    
    border-radius: var(--border-radius);
    opacity: 80%;
    transition: 1s;
    margin: 40px auto;
}

.container_donate_content .content_uno img:hover {
    opacity: 100%;
    transform: scale(1.08);
}

.container_donate_content .content_dos {
    margin: 10% auto; 
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
.container_donate_content .content_dos div{
    background: var(--color3);
    border-radius: var(--border-radius);
    padding: 20px;
}

.container_donate_content .content_dos p {
    text-align: justify;
    padding: 20px 0;
}
.container_donate_content .content_dos ul{
    text-align:left ;
    padding: 20px;
}

