.container_banner{
    max-width: 1200px;
    width: 100%;
    margin: 20px auto; 
}


.slide img{   
    flex: 1; 
    max-width: 100%; /* Ajusta el ancho máximo del slide */
    display: flex;
    justify-content: center;
    align-items: center;
} 