.container_donar_patrinar{
    border-bottom: solid var(--color1);
    padding: 20px 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.container_home a{
    color: var(--color1);
    text-decoration: underline wavy var(--color1) ;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.container_donar_patrinar .donar, 
.container_donar_patrinar .patrinar,
.container_beneficios .beneficio{        
    background:var(--color3) ;
    color: var(--color1);
    text-decoration: none;
    border-radius: 10px ;
    padding: 20px 15px;  
    margin: 0px 10px;
    font-size: 25px;
    font-weight: 500; 
}

.container_donar_patrinar .donar:hover, 
.container_donar_patrinar .patrinar:hover,
.container_beneficios .beneficio:hover,
.container_home a
{ 
    color: var(--color2);
}

.container_beneficios{    
    padding: 20px 0 10px 0;
    margin: 20px 0 5px 0;
    display: flex;
    justify-content: center;
}

.home_icon{
    padding-right: 10px;
}
