*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color1:#744c24;
  --color2:#362411;
  --color3:#fbb831;
  --color4:#fff8ec;
  --border-radius: 10px;  

}

html{     
  color: var(--color1);
  font-family: 'Marmelad', sans-serif;
  background: var(--color4);  
}

h1{
  font-family: 'Gluten', cursive;
}
